body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  background-color: rgb(44, 44, 44);
  z-index: 1000; 
  width: 100%;
  font-family: "FF Mark W05", Arial, sans-serif;
  font-size: 14px !important;
  font-weight: bold;
  padding: 0 20px;
}

.container .image img {
  height: 60px;
  width: auto;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px;
}

.navbar li a:hover {
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.bg img {
  opacity: 0.9;
  width: 100%;
  height: auto;
}

.foreground img {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 2; 
  opacity: 0.7;
}

html {
  scroll-behavior: smooth;
}

section { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

section h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.con p {
  padding: 10px;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  font-size: 18px;
  text-indent: 30px;
  font-family: sans-serif;
}

.block2, .block2 p {
  color: white;
}

.block3 {
  background-color: white;
}

section .con {
  margin: 50px;
  max-width: 1200px;
}

section .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section .cards .text-card {
  background: white;
  margin: 10px;
  padding: 20px;
  position: relative;
  flex-basis: 300px;
  flex-grow: 1;
}

section .cards .text-card h3 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

section .cards .text-card h3::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  right: -8px; 
  bottom: -8px;
  border: 3px solid rgb(78, 78, 78); 
  pointer-events: none;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.contact1 {
  text-align: center;
  border-left: solid black 3px;
  margin: 40px;
  border-right: solid black 3px;
  padding: 20px;
}

.contact2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.contact2 p {
  flex-basis: 100%;
  margin: 0 20px;
}

.contact3 {
  margin-bottom: 20px;
  font-weight: bold;
  padding: 20px;
  flex-basis: 200px;
}

.contact3 a {
  text-decoration: none;
  color: black;
}

.contact3 a:hover {
  border-bottom: solid 2px black;
}

.contact4 {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact4 img {
  margin-right: 5px;
}

.contact4 p {
  font-family: sans-serif;
  font-size: 13px;
}

.about1 {
  margin: 20px;
}

.about2 {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 10px;
  border-top: solid white 2px;
  border-left: solid white 2px;
  border-right: solid white 2px;
}

h5 {
  font-size: 23px;
  text-align: center;
}

.about2 p {
  font-size: 19px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar {
    justify-content: center;
    margin-left: 0;
  }

  .navbar li {
    margin: 0 5px;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .bg img {
    height: auto;
  }

  .section .cards {
    flex-direction: column;
  }

  section .cards .text-card {
    margin: 10px 0;
  }

  .contact2 p {
    margin-left: 10px;
    margin-right: 10px;
  }

  .about1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .about2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .navbar {
    justify-content: center;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin: 5px 0;
  }

  section .cards .text-card {
    margin: 10px 0;
    width: 100%;
  }

  .contact2 p {
    margin-left: 5px;
    margin-right: 5px;
  }

  .about2 {
    margin: 5px;
    padding: 5px;
  }

  h5 {
    font-size: 18px;
  }

  .about2 p {
    font-size: 16px;
  }
}
